@import "normalize.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,700);
@import url('includeMenu.min.css');
@import url('includePie.min.css');
@import "inclusion.min.css";

* { margin: 0;padding: 0;}
img { border: 0;}
.plan_estudio { text-align: right;}
.corte {clear: both;}
.negritas { font-weight: bold;}
.negritasContacto { font-weight: bold;color:#F66A46;}
.contenedor { margin: 44px auto 0 auto; width: 946px; height: auto;}

/*Todas las Carreras*/

.area_carrera_img {width: 459px; height: 347px; float: left; margin-bottom: 43px;overflow: hidden;}
.area_carrera_info { width: 459px; height: 347px; float: right; margin-bottom: 43px;overflow: hidden;}
.area_carrera_perfiles {width: 459px; height: auto; float: left;overflow: hidden; }
.area_carrera_competencias {width: 459px; height: auto; float: right;overflow: hidden;}
.area_carrera_info_titulo { width:99.5%; height: 36px; background-image: url(../img/carrerasUsoComun/area_carrera_info_titulo.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px; }
.area_carrera_info_titulo h3 { color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1em;line-height: 20px; margin-bottom: 0;margin-top: 0; }
.area_carrera_info_mision_vision { height:auto;text-align: justify; font-size: 0.75em;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400; }
.area_carrera_info_mision_vision a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}

.area_carrera_perfiles_titulo { width:99.5%; height: 36px; background-image: url(../img/carrerasUsoComun/area_carrera_perfiles_titulo.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px; margin-bottom: 20px; }
.area_carrera_perfiles_titulo h3 { color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1em;line-height: 20px; margin-bottom: 0;margin-top: 0; }
.area_carrera_competencias_titulo { width:99.5%; height: 36px; background-image: url(../img/carrerasUsoComun/area_carrera_competencias_titulo.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px; overflow: hidden;margin-bottom:10px; }
.area_carrera_competencias_titulo h3 { color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1em;line-height: 20px; margin-bottom: 0;margin-top: 0; }

.area_carrera_perfiles_ingreso { width: 100%; height: auto; margin-bottom:15px;}
.area_carrera_perfiles_ingreso_titulo { width:95.5%; height: 36px; background-image: url(../img/carrerasUsoComun/area_carrera_perfiles_ingreso_titulo.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 45px; overflow: hidden;}
.area_carrera_perfiles_ingreso_titulo h3 {color: #FFF8F7;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.8em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_carrera_perfiles_ingreso_info {width: 93%; height: 150px; margin-left: 30px;font-size: 0.75em; text-align: justify;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;}
.area_carrera_perfiles_ingreso_info ul li{ list-style: none;}

.area_carrera_perfiles_egreso { width: 100%; height: auto;margin-bottom:15px; }
.area_carrera_perfiles_egreso_titulo { width:95.5%; height: 36px; background-image: url(../img/carrerasUsoComun/area_carrera_perfiles_egreso_titulo.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 45px; overflow: hidden; }
.area_carrera_perfiles_egreso_titulo h3 { color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.8em;line-height: 20px; margin-bottom: 0;margin-top: 0; }
.area_carrera_perfiles_egreso_info {width: 93%; height: 150px;  margin-left: 30px;font-size: 0.75em;text-align: justify;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;}
.area_carrera_perfiles_egreso_info ul li{ list-style: none;}

.area_carrera_competencias_especificas { width: 100%; height: auto; margin-bottom:28px;}
.area_carrera_competencias_especificas_titulo { width:85%; height: 43px; background-image: url(../img/carrerasUsoComun/area_carrera_competencias_especificas_titulo.png); background-repeat: no-repeat; padding-top: 20px; padding-left: 70px; overflow: hidden;}
.area_carrera_competencias_especificas_titulo h3 {color: #FFF8F7;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.8em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_carrera_competencias_especificas_info {width: 93%; height: 120px; margin-left: 30px;font-size: 0.75em;text-align: justify;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;}
.area_carrera_competencias_especificas_info ul li{ list-style: none;}

.area_carrera_competencias_profesionales { width: 100%; height: auto;margin-bottom:15px; }
.area_carrera_competencias_profesionales_titulo { width:85%; height: 43px; background-image: url(../img/carrerasUsoComun/area_carrera_competencias_profesionales_titulo.png); background-repeat: no-repeat; padding-top: 20px; padding-left: 70px; overflow: hidden; }
.area_carrera_competencias_profesionales_titulo h3 { color: #FFF8F7;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.8em;line-height: 20px; margin-bottom: 0;margin-top: 0; }
.area_carrera_competencias_profesionales_info {width: 93%; height: 120px; margin-left: 30px;font-size: 0.75em;text-align: justify;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;}
.area_carrera_competencias_profesionales_info ul li{ list-style: none;}

/*Todas las Carreras*/