@import "normalize.min.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,700);
@import url('includeMenu.min.css');
@import url('includePie.min.css');
@import "inclusion.min.css";

* { margin: 0;padding: 0;}
img { border: 0;}
.corte {clear: both;}
.negritas { font-weight: bold;}
.negritasContacto { font-weight: bold;color:#F66A46;}
.contenedor { margin: 44px auto 0 auto; width: 946px; height: auto;}
#contenedor2 { margin:44px auto 0 auto; width: 1002px; height: auto;}

/* Mensaje del rector */
.area_titulo_mensaje_rector{ width:99.5%; height: 36px; background-image: url(../img/conocenos/mensaje_del_rector/area_titulo_mensaje_rector.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:24px; }
.area_titulo_mensaje_rector h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_mensaje_rector{ text-align: justify;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;}
/* Mensaje del rector */

/* Historia */
.area_titulo_historia{ width:941px; height: 36px; background-image: url(../img/conocenos/historia/area_titulo_historia.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin-bottom: 15px;}
.area_titulo_historia h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_historia {width: 946px; height: auto;}
.area_info_historia_1 { width: 927px; height: auto; margin-left: 19px;}
.area_info_historia_2 { width: 927px; height: auto;margin-left: 19px;}

.area_info_historia_1_titulo { width: 863px; height: 38px; background-image: url(../img/conocenos/historia/area_info_historia_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;}
.area_info_historia_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.875em;line-height: 20px; }
.area_info_historia_1_info { width: 876px; margin-left: 46px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}

.area_info_historia_2_titulo { width: 863px; height: 38px; background-image: url(../img/conocenos/historia/area_info_historia_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;}
.area_info_historia_2_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.875em;line-height: 20px; }
.area_info_historia_2_info {width: 876px; margin-left: 46px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;text-align: justify;}
/* Historia */

/* Visión, misión y valores */

.area_titulo_vision_mision_valores{ width:941px; height: 36px; background-image: url(../img/conocenos/vision_mision_valores/area_titulo_vision_mision_valores.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:15px; }
.area_titulo_vision_mision_valores h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_vision_mision_valores {width: 946px; height: auto;}
/*.area_info_vision_mision_valores ul li{ list-style-position: inside;line-height: 40px;}*/
.area_info_vision_mision_valores ul {list-style-position: inside;line-height: 20px;margin-left: 0; padding-left: 1em; text-indent: -1em;}

.area_info_vision_mision_valores_1 { width: 927px; height: auto; margin-left: 19px;}
.area_info_vision_mision_valores_2 { width: 927px; height: auto;margin-left: 19px;}
.area_info_vision_mision_valores_3 { width: 927px; height: auto;margin-left: 19px;}

.area_info_vision_mision_valores_1_titulo { width: 863px; height: 38px; background-image: url(../img/conocenos/vision_mision_valores/area_vision_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right; }
.area_info_vision_mision_valores_1_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.875em;line-height: 20px;}
.area_info_vision_mision_valores_1_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}

.area_info_vision_mision_valores_2_titulo { width: 863px; height: 38px;  background-image: url(../img/conocenos/vision_mision_valores/area_mision_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px;margin-bottom: 13px; }
.area_info_vision_mision_valores_2_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.875em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_vision_mision_valores_2_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;}

.area_info_vision_mision_valores_3_titulo {  width: 863px; height: 38px;  background-image: url(../img/conocenos/vision_mision_valores/area_valores_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px;margin-bottom: 13px; }
.area_info_vision_mision_valores_3_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.875em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_vision_mision_valores_3_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;margin-bottom: 33px;}
.area_info_vision_mision_valores_3_info_SE {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;text-align: justify;}
/*.area_info_centro_incubacion_1_info      {width: 946px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}*/


/* Visión, misión y valores */

/* Identidad */
.area_titulo_identidad {width:941px; height: 36px; background-image: url(../img/conocenos/identidad/area_titulo_identidad.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 48px auto;}
.area_titulo_identidad h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_identidad { height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 	0.875em;text-align: justify;}

.area_info_identidad_1 { width: 946px; height: auto;margin-bottom: 30px; }
.area_info_identidad_1_logo { width: 193px; height: 290px; float: left; margin-left:37px; margin-top:23px;}
.area_info_identidad_1_info { width: 708px; height: 290px;float: right; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; text-align: justify;}
.area_info_identidad_1_banner {width: 946px; height: 253px;}


.area_info_identidad_2 { width: 946px; height: auto;margin-bottom: 30px;}
.area_info_identidad_2_titulo { width: 867px; height: 38px; background-image: url(../img/conocenos/identidad/area_info_identidad_2_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-left: 19px;margin-bottom: 32px;}
.area_info_identidad_2_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1em;line-height: 20px; }
.area_info_identidad_2_info { width: 460px; height: auto; margin-left: 74px; color:#5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; float: left;}
.area_info_identidad_2_logo {width: 394px; height: auto;float: right;}


.area_info_identidad_3 { width: 946px; height: auto;margin-bottom: 30px;}
.area_info_identidad_3_titulo {width: 867px; height: 38px; background-image: url(../img/conocenos/identidad/area_info_identidad_3_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-left: 19px; margin-bottom: 32px;}
.area_info_identidad_3_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1em;line-height: 20px; }
.area_info_identidad_3_info { width: 872px; height: auto; margin-left: 74px; color:#5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em;}
/* Identidad */

/* Modelo Educativo */
.area_titulo_modelo_educativo {width:941px; height: 36px; background-image: url(../img/conocenos/modelo_educativo/area_titulo_modelo_educativo.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin-bottom: 15px;}
.area_titulo_modelo_educativo h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_modelo_educativo { text-align: justify; width: 946px; height: auto;color: #5B5C5C;font-family: 'Open Sans' !important;font-size: 0.875em;font-style: normal;font-weight: 400;}
/*.area_info_modelo_educativo ul li{ list-style-position: inside;line-height: 40px; }*/
.area_info_modelo_educativo ul {list-style-position: inside;line-height: 20px;margin-left: 0; padding-left: 1em; text-indent: -1em;
}

.area_info_centro_incubacion_1_info {width: 946px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
/* Modelo Educativo */

/* Sistemas de Gestión */
.area_titulo_sistemas_gestion{ width:941px; height: 36px; background-image: url(../img/conocenos/sistemas_gestion/area_titulo_sistemas_gestion.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:24px; }
.area_titulo_sistemas_gestion h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_sistemas_gestion { width: 946px;list-style: none; text-align: justify;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;}
.area_info_sistemas_gestion ul li  { list-style-position: inside;}

.area_titulo_sistemas_gestion h3 a{ text-decoration: none;}
.area_titulo_sistemas_gestion h3 a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_titulo_sistemas_gestion h3 a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_titulo_sistemas_gestion h3 a:hover {color: #5B5C5C;font-weight: bold;}  /* mouse over link */
.area_titulo_sistemas_gestion h3 a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */

.area_info_sistemas_gestion a{ text-decoration: none;}
.area_info_sistemas_gestion a:link {color: #000000; font-weight: bold;}      /* unvisited link */
.area_info_sistemas_gestion a:visited {color: #000000;font-weight: bold;}  /* visited link */
.area_info_sistemas_gestion a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_sistemas_gestion a:active {color: #000000;font-weight: bold;}  /* selected link */

.area_info_sistemas_gestion_1 {width: 946px; margin-bottom: 50px;}
.area_info_sistemas_gestion_2 {width: 946px;}

.area_info_sistemas_gestion_1_titulo {width: 896px; height: 28px;  background-image: url(../img/conocenos/sistemas_gestion/area_info_sistemas_gestion_1_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 50px; padding-top: 9px;}
.area_info_sistemas_gestion_1_titulo h4{ color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.05em;line-height: 20px;  }
.area_info_sistemas_gestion_1_titulo_1 { width: 927px; margin-left: 19px;}
.area_info_sistemas_gestion_1_titulo_2 { width: 927px; margin-left: 19px;}
.miParrafoSistemaGestion {width: 871px; margin-left: 75px;/*font-size: 0.95em;*/ margin-top: 10px; /*margin-bottom: 10px;*/}
.miListaSistemaGestion {width: 871px; margin-left: 75px;/*font-size: 0.95em;*/}

.area_info_sistemas_gestion_1_titulo_1_titulo {width: 867px; height: 38px;background-image: url(../img/conocenos/sistemas_gestion/area_info_sistemas_gestion_1_titulo_1_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 60px; padding-top: 17px; }
.area_info_sistemas_gestion_1_titulo_1_titulo h5 { color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px; }
.area_info_sistemas_gestion_1_titulo_2_titulo {width: 867px; height: 38px;background-image: url(../img/conocenos/sistemas_gestion/area_info_sistemas_gestion_1_titulo_2_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 60px; padding-top: 17px;}
.area_info_sistemas_gestion_1_titulo_2_titulo h5 { color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px;}
.area_info_sistemas_gestion_1_titulo_1_info {width: 871px; margin-left: 52px;font-size: 0.95em; margin-top: 5px; margin-bottom: 5px;}
.area_info_sistemas_gestion_1_titulo_2_info  {width: 871px; margin-left: 52px;font-size: 0.95em;margin-top: 5px; margin-bottom: 5px;}



.area_info_sistemas_gestion_2_titulo {width: 896px; height: 28px;  background-image: url(../img/conocenos/sistemas_gestion/area_info_sistemas_gestion_2_titulo.png); background-repeat: no-repeat; background-position: right;padding-left: 50px; padding-top: 9px;}
.area_info_sistemas_gestion_2_titulo h4{ color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.05em;line-height: 20px;  }
.area_info_sistemas_gestion_2_titulo_1 { width: 927px; margin-left: 19px;}
.area_info_sistemas_gestion_2_titulo_2 { width: 927px; margin-left: 19px;}

.area_info_sistemas_gestion_2_titulo_1_titulo { width: 867px; height: 38px;background-image: url(../img/conocenos/sistemas_gestion/area_info_sistemas_gestion_2_titulo_1_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 60px; padding-top: 17px;  }
.area_info_sistemas_gestion_2_titulo_1_titulo h5{  color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px;}

.area_info_sistemas_gestion_2_titulo_2_titulo { width: 867px; height: 38px;background-image: url(../img/conocenos/sistemas_gestion/area_info_sistemas_gestion_2_titulo_2_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 60px; padding-top: 17px;  }
.area_info_sistemas_gestion_2_titulo_2_titulo h5 { color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px; }

.area_info_sistemas_gestion_2_titulo_1_info {width: 871px; margin-left: 52px;font-size: 0.95em;margin-top: 5px; margin-bottom: 5px;}
.area_info_sistemas_gestion_2_titulo_2_info {width: 871px; margin-left: 52px;font-size: 0.95em;margin-top: 5px; margin-bottom: 5px;}
/* Sistemas de Gestión */

/* Directorio */
.area_titulo_directorio {width:941px; height: 36px; background-image: url(../img/conocenos/directorio/area_titulo_directorio.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_directorio h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_directorio { width: 946px; height: auto;}

.area_info_directorio a{ text-decoration: none;}
.area_info_directorio a:link {color: #5B5C5C;}      /* unvisited link */
.area_info_directorio a:visited {color: #5B5C5C;}  /* visited link */
.area_info_directorio a:hover {color: #5B5C5C;}  /* mouse over link */
.area_info_directorio a:active {color: #5B5C5C;}  /* selected link */

.area_info_directorio_1 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_2 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_3 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_4 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_5 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_6 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_7 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_directorio_8 { height: auto;width: 100%;margin-bottom: 20px;}

.area_info_directorio_1_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_1_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_1_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_2_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_2_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_2_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_3_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_3_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_3_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_4_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_4_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_4_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_5_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_5_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_5_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_6_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_6_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_6_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_7_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_7_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_7_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.area_info_directorio_8_titulo { background-image: url("../img/conocenos/directorio/area_info_directorio_1_titulo.png");background-position: right center;background-repeat: no-repeat;height: 28px;padding-left: 50px;padding-top: 9px;width: 896px;margin-bottom: 13px;}
.area_info_directorio_8_titulo h4{ color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1em;line-height: 20px;margin-bottom: 0;margin-top: 0;}
.area_info_directorio_8_info {width: 945px; float:right;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}

.miTabla { border:0; margin-left: 33px;}
.miCelda { padding-left: 10px; vertical-align: middle;}
.miCelda2 { padding-left: 100px; vertical-align: middle;}
.miCelda3 { padding-left: 10px; vertical-align: middle;}
.miCelda4 { padding-left: 23px; vertical-align: middle;}
/* Directorio */

/* Organigrama */
.area_titulo_organigrama {width:941px; height: 36px; background-image: url(../img/conocenos/organigrama/area_titulo_organigrama.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_organigrama h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_organigrama { width: 100%; height: auto;}
/* Organigrama */

/* Normatividad */
.area_titulo_normatividad{ width:99.5%; height: 36px; background-image: url(../img/conocenos/normatividad/area_titulo_normatividad.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:24px; }
.area_titulo_normatividad h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_normatividad{ text-align: justify;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;}
.area_info_normatividad ul li { list-style-position: inside; line-height: 40px; text-decoration: none;}
.area_info_normatividad ul li a{ text-decoration: none;}
.area_info_normatividad ul li a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_info_normatividad ul li a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_info_normatividad ul li a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_normatividad ul li a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */ 
/* Normatividad */

/* Logros Obtenidos */
.area_titulo_logros {width:941px; height: 36px; background-image: url(../img/conocenos/logros_obtenidos/area_titulo_logros.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_logros h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_btn_logros {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_info_logros { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.8em; text-align: justify;}
/* Logros Obtenidos */

/* Logros Obtenidos - Acreditaciones */
.area_titulo_acreditaciones {width:941px; height: 36px; background-image: url(../img/conocenos/logros_obtenidos/area_titulo_acreditaciones.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_acreditaciones h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_acreditaciones { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.8em; text-align: justify;}
.area_info_acreditaciones ul li { list-style-position: inside; line-height: 25px;}
.area_info_acreditaciones ul li a{ text-decoration: none;}
.area_info_acreditaciones ul li a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_info_acreditaciones ul li a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_info_acreditaciones ul li a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_acreditaciones ul li a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */ 
/* Logros Obtenidos - Acreditaciones */

/* Campus */
.area_titulo_campus {width:941px; height: 36px; background-image: url(../img/conocenos/campus/area_titulo_campus.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_campus h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_btn_campus {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_campus a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
.area_info_campus { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.878em;text-align: justify;}

.area_info_campus_1 {width: 946px; height: auto;margin-bottom: 30px;}
#google_maps { width: 946px;height: 413px;margin-bottom: 38px;}
#contacto { width: 30%;height:auto;background-color: #EFF0F4;font-size: 0.95em;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400; padding: 20px 47px 20px 47px;}

.area_info_campus_2 {width: 946px; height: auto;margin-bottom: 30px;}
.area_info_campus_2_titulo {width: 867px; height: 38px; background-image: url(../img/conocenos/campus/area_info_campus_2_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-left: 19px;margin-bottom: 15px; }
.area_info_campus_2_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_campus_2_info { width: 872px; height: auto; margin-left: 74px; color:#5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em;}

.area_info_campus_3 {width: 946px; height: auto;margin-bottom: 30px;}
/* Campus */

/* Glosario de términos */
.area_titulo_glosario {width:941px; height: 36px; background-image: url(../img/conocenos/glosario/area_titulo_glosario.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_glosario h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}

.area_titulo_glosario h3 a{ text-decoration: none;}
.area_titulo_glosario h3 a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_titulo_glosario h3 a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_titulo_glosario h3 a:hover {color: #5B5C5C;font-weight: bold;}  /* mouse over link */
.area_titulo_glosario h3 a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */

.area_btn_glosario {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_glosario a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
.area_info_glosario { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; text-align: justify; }

.area_info_glosario_titulo { width: 863px; height: 38px; background-image: url(../img/conocenos/glosario/area_info_glosario_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_glosario_titulo h4 {color: white;font-family: 'Open Sans' !important;font-size: 0.875em;font-style: normal;font-weight: 700;line-height: 20px; }
.area_info_glosario_info { width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
/* Glosario de términos */