@import "normalize.min.css";
@import url('index3_header.min.css');
@import url('index3_footer.min.css');
@import "inclusion.min.css";

aside{ width: 100%; height: 355px; }
body { font-family: 'Open Sans' !important;font-weight: 400;} 
h1,h2,h5 { font-weight: normal;}  
p { text-align: justify;text-justify: distribute;}         
.corte { clear: both;}
.oculto { display: none;}
.row { width:1000px; height: auto; margin: 0 auto;}


.texto_resaltado { color: #FE4A3E;}
.conocenos_section{ width: 1000px; height: auto; margin: 0 auto;}
.conocenos_titulo { width: auto; height: 60px; margin-top: 10px;margin-bottom: 10px;padding: 4px 0 4px 115px; box-sizing:border-box;background-color: #0D6FAF}
.conocenos_titulo h1 { font-size: 1.3em; margin:0; color: white; font-weight: normal; }
.conocenos_titulo h2 { font-size: 1em; margin:0; color: white; font-weight: normal;}
.conocenos_contenido { width: auto; height: auto;}
.conocenos_texto { width: 946px; height: auto; margin: 0 auto; text-align: justify;}
p.primera_linea {
    text-indent: 40px;
}
.conocenos_texto ul { margin-left: 43px;}
.conocenos_texto h3 {display: inline-block; color: #0E547F;}
.conocenos_texto ul li { list-style-image: url(../img/divisiones/carreras/point.png)}
.conocenos_texto ul li {
    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely
     */
    margin-left: 1em;
}
.icono_terminos { position: absolute; right: 165px; bottom: 20px; cursor: pointer;}
.icono_siglas { position: absolute; right: 20px; bottom: 20px; cursor: pointer;}

.conocenos_texto a:active, 
.conocenos_texto a:link, 
.conocenos_texto a:visited {
    color: #5B5C5C;
    text-decoration:none; 
}

.conocenos_texto a:hover{
    font-weight: bold; color:#0e547f;

}

.conocenos_texto table {
    width: auto;
}
.conocenos_texto table tr td{
    padding-top: 10px;
}

.conocenos_texto table tr td:nth-child(2),.conocenos_texto table tr td:nth-child(4){
    width: 400px;
    padding-left: 10px;
}

.conocenos_texto table tr td:nth-child(3){
    padding-left: 10px;
}

.conocenos_texto table tr td p:nth-child(1){
    font-weight: bold;
}

#google_maps { width: 941px;height: 279px;margin-bottom: 38px;}
.ficha_contacto {width: 628px; height: 75px; box-sizing: border-box; background-color: #F1F2F2; border-left: 27px solid  #2582BB;}
.ficha_contacto p { font-size:  14px; margin-left: 30px;}
.ficha_contacto h3 { font-size:  14px; font-weight: bold; color: #696666; margin-left: 20px;}