@import url('../js/JQuery/plugins/layerslider/css/layerslider.css');
@import url('../js/JQuery/plugins/layerslider/css/style.css');
@import url('../js/JQuery/plugins/twitter-feed/jquery.tweet.css');
@import url('../Otros/PhotoStackGallery/photo-stack.min.css');
@import url('../Otros/carrousel01/css/bootstrap.css');
@import url('../Otros/carrousel01/css/style.css');
@import url('includeMenu.min.css');
@import url('includePie.min.css');
@import "inclusion.min.css";

* { margin: 0;padding: 0;}
main { margin:0 auto; width: 1002px; height: auto; position: relative;}
.eventos { width: 1002px; height:402px; margin:0 auto 45px auto;  background-color: #EAEAEA; position: relative;}
.tweet { width: 939px; height:auto;min-height:62px; margin:0 auto 45px auto; background-color:#07B1F1; background-image:url(../img/cambios/Fondo%20twitter.png);background-repeat: no-repeat;position: relative;}
.logros_univesitarios { width: 939px; height:auto;margin:0 auto 45px auto;position: relative;font-family: 'Open Sans' !important;font-style: normal;font-weight: normal; color: #696666;}
.logros_univesitarios h1, .logros_univesitarios h2 { text-align: center; line-height: normal; }
.actividadesUniv { width: 943px; height:auto; min-height:370px; margin:55px auto 0 auto;  }
.btn_actividades_univ { width:121px !important; height:27px !important;  color:#FFFFFF !important; border:0 !important; font-size:12px !important; text-align: center !important; font-family:Arial, Helvetica, sans-serif !important;}
.primero { background-color:#125E85 !important; }
.segundo { background-color:#2286B7 !important; }
.tercero { background-color:#40A5D6 !important; }
.banners{ width: 943px; height:auto; margin:26px auto 0 auto; /*background-color: #8C8A8A;*/ }
.corte {clear: both;}
/*PhotopStackGallery*/
#slider-contenido {
    margin: 0 auto;
    position: relative;
    width: 943px; 
    height: auto; 
}
/*PhotopStackGallery*/
/*Counter Logros univarsitarios*/
.counters.counters-text-dark .counter {
    color: #5E5A5A !important;
}
.counters .counter {
    width:165px; 
    height: 193px; 
    padding-top:75px; 
    box-sizing: border-box;  
    text-align: center; 
}
.logro1{
    background-image: url(../img/logros_universitarios/logro1.png);
}
.logro2{
    background-image: url(../img/logros_universitarios/logro2.png);
}
.logro3{
    background-image: url(../img/logros_universitarios/logro3.png);
}
.logro4{
    background-image: url(../img/logros_universitarios/logro4.png);
}
.logro5{
    background-image: url(../img/logros_universitarios/logro5.png);
}
.logro6{
    background-image: url(../img/logros_universitarios/logro6.png);
}
.logro7{
    background-image: url(../img/logros_universitarios/logro7.png);
}
.logro8{
    background-image: url(../img/logros_universitarios/logro8.png);
}
.animated, .appear-animation {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.counters strong {
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
}
.counters label {
    display: block;
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/* Counter Logros univarsitarios */