@import "normalize.min.css";
@import url('includeMenu.min.css');
@import url('includePie.min.css');
@import "inclusion.min.css";

* { margin: 0;padding: 0;}
img { border: 0;}

.corte {clear: both;}
.negritas { font-weight: bold;}
.negritasContacto { font-weight: bold;color:#F66A46;}
.contenedor { margin: 44px auto 0 auto; width: 946px; height: auto;}
#contenedor2 { margin:44px auto 0 auto; width: 1002px; height: auto;}