@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,700);
@import url('includeMenu.min.css');
@import url('includePie.min.css');
@import "inclusion.min.css";

* { margin: 0;padding: 0;}
img { border: 0;}

.corte {clear: both;}
.negritas { font-weight: bold;}
.negritasContacto { font-weight: bold;color:#F66A46;}
.contenedor { margin: 44px auto 0 auto; width: 946px; height: auto;}
#contenedor2 { margin:44px auto 0 auto; width: 1002px; height: auto;}
#contenedorCaleEscInte { margin:44px auto 0 auto; width: 1002px;height: 1650px; background-image:url('../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/calendario_escolar_2016_2017_fondo.jpeg');background-size:1000px 1620px;background-repeat:no-repeat;border:1px solid transparent;position: relative;}
@-moz-document url-prefix() {
    #contenedorCaleEscInte { margin:44px auto 0 auto; width: 1002px;height: 1680px; background-image:url('../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/calendario_escolar_2016_2017_fondo.jpeg');background-size:1000px 1660px;background-repeat:no-repeat;border:1px solid transparent;position: relative;}
}

.contenedor a{ color: #5B5C5C;text-decoration: none; font-weight: bold;}
.contenedors a:link {color: #5B5C5C; }
.contenedor a:visited {color: #5B5C5C;}
.contenedor a:hover {color: #000000;}
.contenedor a:active {color: #5B5C5C;}

/* Alumnos */
.area_titulo_alumnos{width:941px; height: 36px; background-image: url(../img/servicios/alumnos/area_titulo_alumnos.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_alumnos h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_btn_alumnos {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_alumnos a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
.area_info_alumnos { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_alumnos ul li { list-style-position: inside; }

.area_info_alumnos a{ text-decoration: none;}
.area_info_alumnos a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_info_alumnos a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_info_alumnos a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_alumnos a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */ 

.area_info_alumnos_0 { width: 946px; height: auto;margin-bottom: 36px;}
.area_info_alumnos_0_titulo { width: 946px; height: auto;margin-bottom: 13px;}
.area_info_alumnos_0_titulo h4 {color:#5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_alumnos_0_info {width: 946px; height: auto;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}

.area_info_alumnos_1 { width: 946px; height: auto}
.area_info_alumnos_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/alumnos/area_info_alumnos_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_alumnos_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_alumnos_1_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}

.area_info_alumnos_2 { width: 946px; height: auto}
.area_info_alumnos_2_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/alumnos/area_info_alumnos_2_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_alumnos_2_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_alumnos_2_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}

.area_info_alumnos_3 { width: 946px; height: auto}
.area_info_alumnos_3_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/alumnos/area_info_alumnos_3_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_alumnos_3_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_alumnos_3_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}
.miUl li { list-style: none;}
.miLi2 { list-style: none;}

.area_info_alumnos_4 { width: 946px; height: auto}
.area_info_alumnos_4_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/alumnos/area_info_alumnos_4_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_alumnos_4_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_alumnos_4_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}

.area_info_alumnos_5 { width: 946px; height: auto}
.area_info_alumnos_5_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/alumnos/area_info_alumnos_5_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_alumnos_5_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_alumnos_5_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}
/* Alumnos */

/* Egresados */
.area_titulo_egresados{width:941px; height: 36px; background-image: url(../img/servicios/egresados/area_titulo_egresados.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_egresados h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_btn_egresados {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_egresados a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
.area_info_egresados { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}

.area_titulo_egresados h3 a{ text-decoration: none;}
.area_titulo_egresados h3 a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_titulo_egresados h3 a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_titulo_egresados h3 a:hover {color: #5B5C5C;font-weight: bold;}  /* mouse over link */
.area_titulo_egresados h3 a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */

.area_info_egresados_1 { width: 946px; height: auto}
.area_info_egresados_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/egresados/area_info_egresados_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_egresados_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_egresados_1_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}
.area_info_egresados_1_info ul li { list-style:none; margin-bottom: 20px;}
.area_info_egresados_1_info ul li a{ text-decoration: none;}
.area_info_egresados_1_info ul li a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_info_egresados_1_info ul li a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_info_egresados_1_info ul li a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_egresados_1_info ul li a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */ 


.area_info_egresados_2 { width: 946px; height: auto}
.area_info_egresados_2_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/egresados/area_info_egresados_2_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 0;background-position: right;  margin-left: 23px;}
.area_info_egresados_2_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_egresados_2_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}

.area_info_egresados_2_titulo h4 a{ text-decoration: none;}
.area_info_egresados_2_titulo h4 a:link {color: white; font-weight: bold;}      /* unvisited link */
.area_info_egresados_2_titulo h4 a:visited {color: white;font-weight: bold;}  /* visited link */
.area_info_egresados_2_titulo h4 a:hover {color: white;font-weight: bold;}  /* mouse over link */
.area_info_egresados_2_titulo h4 a:active {color: white;font-weight: bold;}  /* selected link */

.area_info_egresados_2_info a{ text-decoration: none;}
.area_info_egresados_2_info a:link {color: #000000; font-weight: bold;}      /* unvisited link */
.area_info_egresados_2_info a:visited {color: #000000;font-weight: bold;}  /* visited link */
.area_info_egresados_2_info a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_egresados_2_info a:active {color: #000000;font-weight: bold;}  /* selected link */

#contador { width: 872px; height: 20px; text-align: right;}
#contador a { text-decoration: none;cursor: pointer;}
#contador a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
#contador a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
#contador a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
#contador a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */ 
#div_resultados {width: 872px; height: auto; min-height: 200px;}
/* Egresados */

/* Profesores */
.area_titulo_profesores{width:941px; height: 36px; background-image: url(../img/servicios/profesores/area_titulo_profesores.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_profesores h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_btn_profesores {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_profesores a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
.area_info_profesores { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_profesores ul li{ list-style-position: inside; }
.miLi { list-style: none; margin-bottom: 20px;}

.area_info_profesores_1 { width: 946px; height: auto}
.area_info_profesores_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/profesores/area_info_profesores_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_profesores_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_profesores_1_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}

.area_info_profesores_1_info ul li a{ text-decoration: none;}
.area_info_profesores_1_info ul li a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_info_profesores_1_info ul li a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_info_profesores_1_info ul li a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_profesores_1_info ul li a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */ 


.area_info_profesores_2 { width: 946px; height: auto;}
/*.area_info_profesores_2_contacto { width: 353px;height: 119px;background-color: #EFF0F4;font-size: 0.95em;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400; font-weight: bold; padding-left: 47px; padding-top:24px;}*/
.area_info_profesores_2_contacto { background-color: #F0F1F5; width: 37%; height: auto; margin-left: 25px; padding-left: 35px;padding-right: 35px; padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: 'Open Sans' !important;font-style: normal;font-weight: 400; text-align: left}
/* Profesores */

/* Padres */
.area_titulo_padres{width:941px; height: 36px; background-image: url(../img/servicios/padres/area_titulo_padres.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_padres h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_btn_padres {width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_padres a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
.area_info_padres { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_padres ul li{ list-style-position: inside; }
.miLi { list-style: none; margin-bottom: 20px;}

.area_info_padres_1 { width: 946px; height: auto}
.area_info_padres_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/padres/area_info_padres_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_padres_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_padres_1_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}
.area_info_padres_1_info ol li { list-style-position: inside;}
.area_info_padres_1_info ol li ul li { list-style-type:disc;}
/* Padres */


/* Admision */
.area_titulo_admision{width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_titulo_admision.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_admision h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_aviso_admision{width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_anuncio_admision.png); background-repeat: no-repeat;  padding-top: 0px; padding-left: 10px; margin:0 auto 15px auto;}
.area_titulo_admision_p{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: .75em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_admision_1_info {width: 941px; height: auto;margin-left: 0px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}
.area_info_admision { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_admision_1 { width: 946px; height: auto}
.area_info_admision_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_admision_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_admision_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px; }
.area_info_admision_2_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.85em; text-align: justify;}
.list_admision {margin-left: 18px}
.area_info_admision_2_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_admision_2_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_admision_2_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px; }
.area_info_admision_3_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.85em; text-align: justify;}
.area_banner_admision{width:943px; height: auto; /*background-image: url(../img/servicios/escolares/banner.png); background-repeat: no-repeat;*/  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
/*Admision */

/* Admision2 */

.area_titulo_admision2{ width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_titulo_admision.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:15px; }
.area_titulo_admision2 h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}

.area_info_admision2 {width: 946px; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.8em; text-align: justify;}
.area_info_admision2 ul { margin-left: 50px;}
.area_info_admision2 ul li{ list-style-position: inside;}


.area_info_admision2_1 { width: 927px; height: auto;margin-left: 19px;}
.area_info_admision2_2 { width: 927px; height: auto;margin-left: 19px;}
.area_info_admision2_3 { width: 927px; height: auto;margin-left: 19px;}

.area_info_admision2_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_admision_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right; }
.area_info_admision2_1_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_admision2_1_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;text-align: justify;}

.area_info_admision2_2_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_admision_2_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right; }
.area_info_admision2_2_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_admision2_2_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;text-align: justify;}

.area_info_admision2_3_contacto { width:358px;height: auto;background-color: #EFF0F4;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;  padding: 20px 0 20px 47px;}
/* Admision2 */

/*Control Escolar */
.area_titulo_escolar{width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_titulo_admision.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_escolar h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_titulo_escolar_p{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: .75em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_escolar_1_info {width: 941px; height: auto;margin-left: 0px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.75em; text-align: justify;}
.area_info_escolar { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_escolar_1 { width: 946px; height: auto}
.area_info_escolar_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_escolar_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_escolar_1_titulo h4 {color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px; }
.area_info_escolar_2_info {width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.85em; text-align: justify;}
.list_escolar {margin-left: 18px}
.area_info_control_escolar2_2_info table {
    /*width: 500px;*/
    border-collapse: collapse;
    border-spacing: 0;
}
.area_info_control_escolar2_2_info table th,
.area_info_control_escolar2_2_info table td {
    border: 1px solid #AAAAAA;
    padding: 5px;
}
.area_info_control_escolar2_2_info table tr:first-child td { /* primera fila */
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;
    font-weight: bold;        
}
.area_info_control_escolar2_2_info table th:first-child,
.area_info_control_escolar2_2_info table td:first-child { /* primera columna */
    border-left: none;
}
.area_info_control_escolar2_2_info table th:last-child,
.area_info_control_escolar2_2_info table td:last-child { /* ultima columna */
    border-right: none;
}
/*Control Escolar */

/* Control Escolar2 */

.area_titulo_control_escolar2{ width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_titulo_control_escolar2.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:15px; }
.area_titulo_control_escolar2 h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}

.area_info_control_escolar2 {width: 946px; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.8em; text-align: justify;}
.area_info_control_escolar2 ul { margin-left: 50px;}
.area_info_control_escolar2 ul li{ list-style-position: inside;}

.area_info_control_escolar2 a{ text-decoration: none;}
.area_info_control_escolar2 a:link {color: #5B5C5C; font-weight: bold;}      /* unvisited link */
.area_info_control_escolar2 a:visited {color: #5B5C5C;font-weight: bold;}  /* visited link */
.area_info_control_escolar2 a:hover {color: #000000;font-weight: bold;}  /* mouse over link */
.area_info_control_escolar2 a:active {color: #5B5C5C;font-weight: bold;}  /* selected link */

.area_info_control_escolar2_1 { width: 946px; height: auto;}
.area_info_control_escolar2_2 { width: 927px; height: auto;margin-left: 19px;}

.area_info_control_escolar2_1_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_escolar_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right; }
.area_info_control_escolar2_1_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_control_escolar2_1_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;text-align: justify;}

.area_info_control_escolar2_2_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/escolares/area_info_escolar_1_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right; }
.area_info_control_escolar2_2_titulo h4{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_control_escolar2_2_info {width: 876px; margin-left: 46px; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;text-align: justify;}

.area_info_escolar_1 table {
    /*width: 500px;*/
    border-collapse: collapse;
    border-spacing: 0;
}
.area_info_escolar_1 table th,
.area_info_escolar_1 table td {
    border: 1px solid #AAAAAA;
    padding: 5px;
}
.area_info_escolar_1 table tr:first-child td { /* primera fila */
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;
    font-weight: bold;        
}
.area_info_escolar_1 table th:first-child,
.area_info_escolar_1 table td:first-child { /* primera columna */
    border-left: none;
}
.area_info_escolar_1 table th:last-child,
.area_info_escolar_1 table td:last-child { /* ultima columna */
    border-right: none;
}

.area_info_control_escolar2_1_contacto { width:358px;height: auto;background-color: #EFF0F4;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;  padding: 20px 0 20px 47px;}
/* Control Escolar2 */

/*Titulacion*/
.area_titulo_titulacion{ width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_titulo_titulacion.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:24px; }
.area_titulo_titulacion h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.125em; line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_titulacion { width: 946px;list-style: none; text-align: justify;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em;}
.area_info_titulacion ul li  { list-style-position: inside;}
.area_info_titulacion a { text-decoration: none; }

.area_info_titulacion_1 {width: 946px;}
.area_info_titulacion_2 {width: 946px;}
.area_info_titulacion_3 {width: 946px;}
.area_info_titulacion_4 {width: 946px;}

.area_info_titulacion_1_titulo {width: 896px; height: 28px;  background-image: url(../img/servicios/escolares/area_info_titulacion_1_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 50px; padding-top: 9px;}
.area_info_titulacion_1_titulo h4{ color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.05em; line-height: 20px;  }
.area_info_titulacion_1_titulo_1 { width: 927px; margin-left: 19px;}
.area_info_titulacion_1_titulo_2 { width: 927px; margin-left: 19px;}
.miParrafoTitulacion {width: 871px; margin-left: 75px; margin-top: 10px; margin-bottom: 10px;}
.miListaTitulacion {width: 871px; margin-left: 75px;font-size: 0.95em;}

.area_info_titulacion_2_titulo {width: 896px; height: 28px;  background-image: url(../img/servicios/escolares/area_info_titulacion_2_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 50px; padding-top: 9px;}
.area_info_titulacion_2_titulo h5{ color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 1.05em; line-height: 20px;  }
.area_info_titulacion_2_titulo_1 { width: 927px; margin-left: 19px;}
.area_info_titulacion_2_titulo_2 { width: 927px; margin-left: 19px;}
.miParrafoTitulacion {width: 871px; margin-left: 75px; margin-top: 10px; margin-bottom: 10px;}
.miListaTitulacion {width: 871px; margin-left: 75px;font-size: 0.95em;}

.area_info_titulacion_1_titulo_1_titulo {width: 867px; height: 38px;background-image: url(../img/servicios/escolares/area_info_titulacion_1_titulo_1_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 60px; padding-top: 17px; }
.area_info_titulacion_1_titulo_1_titulo h5 { color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;font-size: 0.95em; line-height: 20px; }
.area_info_titulacion_1_titulo_1_info {width: 871px; margin-left: 60px;font-size: 0.95em; margin-top: 5px; margin-bottom: 5px;}
.area_info_titulacion_1_titulo_2_info  {width: 871px; margin-left: 52px;font-size: 0.95em;margin-top: 5px; margin-bottom: 5px;}

.area_info_titulacion_2_titulo_1_titulo {width: 867px; height: 38px;background-image: url(../img/servicios/escolares/area_info_titulacion_2_titulo_1_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 60px; padding-top: 17px; }
.area_info_titulacion_2_titulo_1_titulo h6 { color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 0.95em;line-height: 20px; }
.area_info_titulacion_2_titulo_1_info {width: 871px; margin-left: 60px;font-size: 0.95em; margin-top: 5px; margin-bottom: 5px;}
.area_info_titulacion_2_titulo_2_info  {width: 871px; margin-left: 52px;font-size: 0.95em;margin-top: 5px; margin-bottom: 5px;}

.area_info_titulacion_3_titulo {width: 896px; height: 28px;  background-image: url(../img/servicios/escolares/area_info_titulacion_3_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 50px; padding-top: 9px;}
.area_info_titulacion_3_titulo h7{ color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.05em;line-height: 20px;  }
.area_info_titulacion_3_titulo_1 { width: 927px; margin-left: 19px;}
.area_info_titulacion_3_titulo_2 { width: 927px; margin-left: 19px;}
.miParrafoTitulacion {width: 871px; margin-left: 75px; margin-top: 10px; margin-bottom: 10px;}
.miListaTitulacion {width: 871px; margin-left: 75px;font-size: 0.95em;}

.area_info_titulacion_4_titulo {width: 896px; height: 28px;  background-image: url(../img/servicios/escolares/area_info_titulacion_4_titulo.png); background-repeat: no-repeat; background-position: right; padding-left: 50px; padding-top: 9px;}
.area_info_titulacion_4_titulo h7{ color:white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.05em;line-height: 20px;  }
.area_info_titulacion_4_titulo_1 { width: 927px; margin-left: 19px;}
.area_info_titulacion_4_titulo_2 { width: 927px; margin-left: 19px;}
.miParrafoTitulacion {width: 871px; margin-left: 75px; margin-top: 10px; margin-bottom: 10px;}
.miListaTitulacion {width: 871px; margin-left: 75px;font-size: 0.95em;}
/*Titulacion*/

/* Titulacion2 */

.area_titulo_titulacion2{ width:941px; height: 36px; background-image: url(../img/servicios/escolares/area_titulo_titulacion.png); background-repeat: no-repeat; padding-top: 10px; padding-left: 5px;margin-bottom:15px; }
.area_titulo_titulacion2 h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}

.area_info_titulacion2 {width: 946px; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.8em; text-align: justify;}
.area_info_titulacion2 ul { margin-left: 50px;}
.area_info_titulacion2 ul li{ list-style-position: inside;}


.area_info_titulacion2_1 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_titulacion2_2 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_titulacion2_3 { height: auto;width: 100%;margin-bottom: 20px;}
.area_info_titulacion2_4 { height: auto;width: 927px;margin-bottom: 20px;}

.area_info_titulacion2_1_1 {width:927px ; height: auto;margin:19px;}
.area_info_titulacion2_1_1_titulo { background-image: url(../img/servicios/escolares/area_info_titulacion_1_titulo_1_titulo.png); background-repeat: no-repeat;background-position: right;width: 867px; height: 40px;margin-bottom: 13px;padding-left: 60px; padding-top: 15px;}
.area_info_titulacion2_1_1_titulo h4 {color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_titulacion2_1_1_info {width:878px ; height: auto;margin-left: 49px;}

.area_info_titulacion2_1_2 {width:927px ; height: auto;margin:19px;}
.area_info_titulacion2_1_2_titulo { background-image: url(../img/servicios/escolares/area_info_titulacion_1_titulo_1_titulo.png); background-repeat: no-repeat;background-position: right;width: 867px; height: 40px;margin-bottom: 13px;padding-left: 60px; padding-top: 15px;}
.area_info_titulacion2_1_2_titulo h4 {color: #FFFFFF;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_titulacion2_1_2_info {width:878px; height: auto;margin-left: 49px;}


.area_info_titulacion2_1_titulo { background-image: url(../img/servicios/escolares/area_info_titulacion_2_titulo.png); background-repeat: no-repeat; margin-bottom: 13px;background-position: right;width: 896px; height: 29px; padding-left: 50px;padding-top: 8px;}
.area_info_titulacion2_1_titulo h3{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}

.area_info_titulacion2_2_titulo { background-image: url(../img/servicios/escolares/area_info_titulacion_3_titulo.png); background-repeat: no-repeat; margin-bottom: 13px;background-position: right;width: 896px; height: 29px; padding-left: 50px;padding-top: 8px;}
.area_info_titulacion2_2_titulo h3{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_titulacion2_2_info { width: 942px; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;text-align: justify; margin-left: 4px;}

.area_info_titulacion2_3_titulo { background-image: url(../img/servicios/escolares/area_info_titulacion_4_titulo.png); background-repeat: no-repeat; margin-bottom: 13px;background-position: right;width: 896px; height: 29px; padding-left: 50px;padding-top: 8px;}
.area_info_titulacion2_3_titulo h3{ color: white;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700;line-height: 20px;}
.area_info_titulacion2_3_info { width: 942px; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;text-align: justify;margin-left: 4px;}

.area_info_titulacion2_4_contacto { width:398px;height: auto;background-color: #EFF0F4;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;  padding: 20px 0 20px 47px;}
/* Titulacion2 */

/* Servicios Médicos */
.area_titulo_servicios_med{width:941px; height: 36px; background-image: url(../img/servicios/servicios_medicos/area_titulo_servicios_med.png); background-repeat: no-repeat;  padding-top: 10px; padding-left: 5px; margin:0 auto 15px auto;}
.area_titulo_servicios_med h3{ color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 700; font-size: 1.125em;line-height: 20px; margin-bottom: 0;margin-top: 0;}
.area_info_servicios_med { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.95em; text-align: justify;}
.area_info_servicios_med ul li{ list-style-position: inside;line-height: 40px; }
/* Servicios Médicos */

/* Biblioteca */
.area_btn_biblioteca{width: 100%; height: 30px; margin-bottom: 15px; text-align: right ;}
.area_btn_biblioteca a img:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}

.area_info_biblioteca {width: 1002px; height: auto;}

/* Biblioteca  */

/*Biblioteca Antecedentes*/
.area_info_biblioteca_ant { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; text-align: justify; }
.area_info_biblioteca_ant_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/biblioteca/area_info_biblioteca_ant_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_biblioteca_ant_titulo h4 {color: white;font-family: 'Open Sans' !important;font-size: 0.875em;font-style: normal;font-weight: 700;line-height: 20px; }
.area_info_biblioteca_ant_info { width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
/*Biblioteca Antecedentes*/

/*Biblioteca Quienes Somos*/
.area_info_biblioteca_quienes { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; text-align: justify; }
.area_info_biblioteca_quienes_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/biblioteca/area_info_biblioteca_quienes_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_biblioteca_quienes_titulo h4 {color: white;font-family: 'Open Sans' !important;font-size: 0.875em;font-style: normal;font-weight: 700;line-height: 20px; }
.area_info_biblioteca_quienes_info { width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
/*Biblioteca Quienes Somos*/

/*Biblioteca Recursos y Servicios*/
.area_info_biblioteca_recursos { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; text-align: justify; }
.area_info_biblioteca_recursos_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/biblioteca/area_info_biblioteca_recursos_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_biblioteca_recursos_titulo h4 {color: white;font-family: 'Open Sans' !important;font-size: 0.875em;font-style: normal;font-weight: 700;line-height: 20px; }
.area_info_biblioteca_recursos_info { width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_biblioteca_recursos ul { list-style-position: inside; }
/*Biblioteca Recursos y Servicio*/

/*Biblioteca pago de servicios*/
.area_info_biblioteca_pagos { width: 100%; height: auto; color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 1em; text-align: justify; }
.area_info_biblioteca_pagos_titulo { width: 863px; height: 38px; background-image: url(../img/servicios/biblioteca/area_info_biblioteca_pagos_titulo.png); background-repeat: no-repeat; padding-left: 60px; padding-top: 17px; margin-bottom: 13px;background-position: right;  margin-left: 23px;}
.area_info_biblioteca_pagos_titulo h4 {color: white;font-family: 'Open Sans' !important;font-size: 0.875em;font-style: normal;font-weight: 700;line-height: 20px; }
.area_info_biblioteca_pagos_info { width: 872px; height: auto;margin-left: 74px;color: #5B5C5C;font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;font-size: 0.875em; text-align: justify;}
.area_info_biblioteca_pagos ul { list-style-position: inside; }
.area_info_biblioteca_pagos_info table {
    width: 946px;
    border-collapse: collapse;
    border-spacing: 0;
}
.area_info_biblioteca_pagos_info table td {
    border: 1px solid #AAAAAA;
    padding:5px;
}
.area_info_biblioteca_pagos_info table tr:first-child td { /* primera fila */
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Open Sans' !important;font-style: normal;font-weight: 400;
    font-weight: bold;        
}
.area_info_biblioteca_pagos_info table th:first-child,
.area_info_biblioteca_pagos_info table td:first-child { /* primera columna */
    border-left: none;
}
.area_info_biblioteca_pagos_info table th:last-child,
.area_info_biblioteca_pagos_info table td:last-child { /* ultima columna */
    border-right: none;
}
/*Biblioteca pago de servicios*/