/* 
    Document   : calendario_escolar_2014_2015
    Created on : 26/09/2014, 09:14:35 AM
    Author     : Roberto Eder Weiss Juárez
    Description: CSS calendario_escolar_2014_2015.jsp
*/

#datepicker { width:72%; margin: 0 0 0 30px; font-size: 12px;float: left; color: #5B5C5C;
              font-family: 'Open Sans' !important;
              font-style: normal;
              font-weight: normal;
              text-align: justify;}
#datepicker_iconos { width:902px;margin: 30px 30px 0 30px; padding:20px;  font-size: 11px;float: left; color: #5B5C5C; background-color: #FEFEFE;
                     font-family: 'Open Sans' !important;
                     font-style: normal;
                     font-weight: 400;
                     text-align: justify;}
#datepicker_titulo { width:72%;margin: 80px 0 50px 30px;font-family: 'Open Sans' !important;font-style: normal;font-weight:bold; font-size: 45px;color:#FEFEFE;}
.inicioDeCurso a{
    /*background-color : #F7CB0A !important   ;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/inicioDeCurso.jpg') !important;
    background-size:23px 20px !important;
    background-repeat:no-repeat !important;
    color:black !important;
    font-weight:bold !important;
}

.finDeCurso a{
    /*background-color : #F7CB0A !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/finDeCurso.jpg') !important;
    background-size:23px 20px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeBajasTemporales a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeBajasTemporales.jpg') !important;
    background-size:22px 22px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inscripcionesAlumnosDeNuevoIngresoTSU a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/inscripcionesAlumnosDeNuevoIngresoTSU.jpg') !important;
    background-size:28px 26px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inscripcionesAlumnosDeNuevoIngresoLIC a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/inscripcionesAlumnosDeNuevoIngresoLIC.jpg') !important;
    background-size:28px 26px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inicioDeClasesNuevoIngresoTSU a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/inicioDeClasesNuevoIngresoTSU.png') !important;
    background-size:23px 22px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.pagoDeColegiaturasyReinscripcionesEnLinea a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/pagoDeColegiaturasyReinscripcionesEnLinea.jpg') !important;
    background-size:27px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diaDelTSU a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/diaDelTSU.jpg') !important;
    background-size:26px 23px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diaDelSindicato a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/diaDelSindicato.jpg') !important;
    background-size:23px 23px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.ceremoniaDeGraduacion a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/ceremoniaDeGraduacion.jpg') !important;
    background-size:27px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeCapturaDeCalificacionesDeEstadia a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeCapturaDeCalificacionesDeEstadia.jpg') !important;
    background-size:29px 19px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeEntregaDeSolicitudesDeReingresosEnLasDivisionesAcademicas a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeEntregaDeSolicitudesDeReingresosEnLasDivisionesAcademicas.jpg') !important;
    background-size:22px 22px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeRecepcionDeSolicitudesDeReingresosEnControlEscolar a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeRecepcionDeSolicitudesDeReingresosEnControlEscolar.jpg') !important;
    background-size:27px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.vacaciones a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/vacaciones.jpg') !important;
    background-size:27px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diasNoLaborables a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/diasNoLaborables.jpg') !important;
    background-size:20px 20px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeTramitesDeTitulacion a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeTramitesDeTitulacion.jpg') !important;
    background-size:25px 24px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeCapturaDeEvaluaciones a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeCapturaDeEvaluaciones.jpg') !important;
    background-size:23px 22px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeCapturaDelProyectoFinal a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeCapturaDelProyectoFinal.jpg') !important;
    background-size:27px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeRecepcionDeActasFinales a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeRecepcionDeActasFinales.jpg') !important;
    background-size:27px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeEntregaDeHorarios a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/limiteDeEntregaDeHorarios.jpg') !important;
    background-size:24px 24px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.aniversarioUTTAB a {
    /*background-color : #549129 !important;*/
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2014_2015/aniversarioUTTAB.jpg') !important;
    background-size:25px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

#format1 ,#format2  {
    width: 295px; float: left;
}
#format3 {
    width: 290px; height: auto;float: right; margin-left: 10px;
}


#format1 input,#format2 input,#format3 input {
    vertical-align: middle;
}
#format1 label,#format2 label,#format3 label {
    display: inline;
    margin-left: 4px;
}

