/* 
    Document   : calendario_escolar_2016_2017
    Created on : 19/08/2016, 14:00:00 PM
    Author     : Roberto Eder Weiss Juárez
    Description: CSS para calendario_escolar_2016_2017.jsp
*/

#datepicker { width:68%; 
              margin: 80px auto 0 auto; 
              font-size: 12px;
              color: #5B5C5C; 
              font-family: 'Open Sans' !important;
              font-style: normal;
              font-weight: normal;
              text-align: left;
}

#datepicker_titulo { width:60%;
                     margin: 0 auto;
                     font-family: 'Open Sans' !important;
                     font-style: normal;
                     font-weight:bold; 
                     font-size: 50px; 
                     text-transform: uppercase;
                     color:#FEFEFE;
}

#datepicker_iconos { width:100%; 
                     height: auto;
                     font-size: 10px; 
                     color: #5B5C5C; 
                     background-color: #FEFEFE;
                     font-family: 'Open Sans' !important;
                     font-style: normal;
                     font-weight: 400;
                     text-align: left; 
                     margin: 0 auto;
}


#format1 ,#format2  {
    width: 320px; float: left;
}
#format3 {
    float: right;
}

#format1 input,#format2 input,#format3 input {
    vertical-align: middle;
}
#format1 label,#format2 label,#format3 label {
    display: inline;
    margin-left: 5px;
}

#datepicker_otras_fechas { width:100%; 
                           height: auto;
                           font-size: 12px; 
                           color: #5B5C5C; 
                           background-color: #FEFEFE;
                           font-family: 'Open Sans' !important;
                           font-style: normal;
                           font-weight: 400;
                           text-align: left; 
                           margin: 0 auto;
}

#datepicker_otras_fechas ul { list-style: none; list-style-position: outside}


#fecha1 ,#fecha2  {
    width: 334px; float: left;box-sizing: border-box;
}
#fecha2 { padding-left: 10px;}
#fecha3 {
    float: right;width: 334px;box-sizing: border-box;
}

.inicioDeCurso a{
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/inicioDeCurso.png') !important;
    background-size:33px 23px !important;
    background-repeat:no-repeat !important;
    color:black !important;
    font-weight:bold !important;
}

.finDeCurso a{
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/finDeCurso.png') !important;
    background-size:33px 23px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inscripcionesAlumnosNuevoIngresoTSU a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/inscripcionesAlumnosNuevoIngresoTSU.png') !important;
    background-size:47px 30px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inscripcionesAlumnosNuevoIngresoLIC a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/inscripcionesAlumnosNuevoIngresoLIC.png') !important;
    background-size:47px 40px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.reinscripcionesContinuidadInmediata a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/reinscripcionesContinuidadInmediata.png') !important;
    background-size:47px 39px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeBajasTemporales a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteDeBajasTemporales.png') !important;
    background-size:28px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inicioDeCapturaDeCargasAcademicasNuevoIngresoTSU a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/inicioDeCapturaDeCargasAcademicasNuevoIngresoTSU.png') !important;
    background-size:33px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inicioDeCapturaDeCargasAcademicasNuevoIngresoLIC a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/inicioDeCapturaDeCargasAcademicasNuevoIngresoLIC.png') !important;
    background-size:33px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.pagoDeColegiaturasYReinscripcionesEnLinea a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/pagoDeColegiaturasYReinscripcionesEnLinea.png') !important;
    background-size:33px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeCaptutaDeEvaluaciones a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteDeCaptutaDeEvaluaciones.png') !important;
    background-size:32px 31px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteCapturaDelProyectoFinal a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteCapturaDelProyectoFinal.png') !important;
    background-size:32px 29px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteRecepcionActasFinalesIncluyendoEstadia a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteRecepcionActasFinalesIncluyendoEstadia.png') !important;
    background-size:30px 29px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeEntregaDeSolicitudesDeReingresosDivisionesAcademicas a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteDeEntregaDeSolicitudesDeReingresosDivisionesAcademicas.png') !important;
    background-size:31px 33px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteDeRecepcionDeSolicitudesDeReingresosControlEscolar a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteDeRecepcionDeSolicitudesDeReingresosControlEscolar.png') !important;
    background-size:40px 26px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.limiteEntregaDeHorarios a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteEntregaDeHorarios.png') !important;
    background-size:30px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.inicioDeCapturaDeCargasAcademicas a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/inicioDeCapturaDeCargasAcademicas.png') !important;
    background-size:33px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.ceremoniaDeGraduacion a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/ceremoniaDeGraduacion.png') !important;
    background-size:30px 25px !important;
    background-repeat:no-repeat !important;
    color: white !important;
    font-weight:bold !important;
}

.limiteTramitesTitulacion a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/limiteTramitesTitulacion.png') !important;
    background-size:30px 24px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diasNoLaborables a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/diasNoLaborables.png') !important;
    background-size:30px 30px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.vacaciones a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/vacaciones.png') !important;
    background-size:30px 25px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diaDelSindicato a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/diaDelSindicato.png') !important;
    background-size:30px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diaDelTSU a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/diaDelTSU.png') !important;
    background-size:30px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.aniversarioUTTAB a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/aniversarioUTTAB.png') !important;
    background-size:30px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}

.diasNoLaborablesMadresTrabajadoras a {
    background-image : url('../../img/servicios/calendarioEscolar/calendario_escolar_2016_2017/diasNoLaborablesMadresTrabajadoras.png') !important;
    background-size:30px 28px !important;
    background-repeat:no-repeat !important;
    color: black !important;
    font-weight:bold !important;
}